[submodule "packages/n-framework-core-cli"]
	path = packages/n-framework-core-cli
	url = git@github.com:n-framework/n-framework-core-cli.git
[submodule "packages/nfw-templates"]
	path = packages/nfw-templates
	url = git@github.com:n-framework/nfw-templates.git
[submodule "packages/n-framework-core-template"]
	path = packages/n-framework-core-template
	url = git@github.com:n-framework/n-framework-core-template.git
