[submodule "packages/acore-scripts"]
	path = packages/acore-scripts
	url = git@github.com:ahmet-cetinkaya/acore-scripts.git
[submodule "packages/nframework-core-cli"]
	path = packages/nframework-core-cli
	url = git@github.com:n-framework/core-cli-rust.git
